@model MVCReviewSiteProject.Models.Review

@{
    ViewBag.Title = "Details";
}
@*Heading*@
<div class="detailBody">

    <h2 class="details">Details</h2>

    <div>
        <h4 class="review">Review</h4>

        @*Body*@
        <div class="row">
            <div class="col-xs-12">
                <div class="detailPage">

                    <p>
                        @Html.DisplayNameFor(model => model.Category.Name):

                        @Html.DisplayFor(model => model.Category.Name)

                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.Title):

                        @Html.DisplayFor(model => model.Title)

                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.Location):

                        @Html.DisplayFor(model => model.Location)
                    </p>

                    <p>
                        @Html.DisplayNameFor(model => model.Content):

                        @Html.DisplayFor(model => model.Content)
                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.PublishDate):

                        @Html.DisplayFor(model => model.PublishDate)
                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.PublisherName):

                        @Html.DisplayFor(model => model.PublisherName)
                    </p>
                </div>
            </div>
        </div>
    </div>
    @*Links to other pages*@
    <p class="detailPage link">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        </p>
    <p class="detailPage link">
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>