@model IEnumerable<MVCReviewSiteProject.Models.Review>

@{
    ViewBag.Title = "Perfectly Parisian";
}
<div class="mainHeading">
    <h2 class="title">Perfectly Parisian</h2>

    <h3 class="subheading">Reviews and Tips About the Best Places to Visit in Paris</h3>
</div>
<p class="create">
    @Html.ActionLink("Create New", "Create")
</p>

            @*@Html.DisplayNameFor(model => model.Category.Name)
            @Html.DisplayNameFor(model => model.Title)
            @Html.DisplayNameFor(model => model.Location)
            @Html.DisplayNameFor(model => model.Content)
            @Html.DisplayNameFor(model => model.PublishDate)
            @Html.DisplayNameFor(model => model.PublisherName)*@
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-md-6">
            <div class="reviewBox">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="~/images/20160306_112709.jpg" width="110" height="145" alt="Eiffel Tower">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@Html.DisplayFor(modelItem => item.Title)</h4>
                        <p>@Html.DisplayFor(modelItem => item.Location)</p>
                        <p>@Html.DisplayFor(modelItem => item.Category.Name)</p>
                        <p>@Html.DisplayFor(modelItem => item.Content)</p>
                        <p>@Html.DisplayFor(modelItem => item.PublishDate)</p>
                        <p>By: @Html.DisplayFor(modelItem => item.PublisherName)</p>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-default" })
                    </p>




                </div>
            </div>
        </div>
    </div>

    }

</div>
  
